@font-face {
  font-family: "opensans";
  src: url($OpenSans-Light);
  font-weight: 300;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-LightItalic);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-Regular);
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-Italic);
  font-style: italic;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-SemiBold);
  font-weight: 600;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-SemiBoldItalic);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-Bold);
  font-weight: 700;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-BoldItalic);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-ExtraBold);
  font-weight: 800;
}

@font-face {
  font-family: "opensans";
  src: url($OpenSans-ExtraBoldItalic);
  font-weight: 800;
  font-style: italic;
}
